<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.untitled3">
  <uses-permission android:name="android.permission.CALL_PHONE" />
  <!-- Specify that the launch screen should continue being displayed -->
  <!-- until Flutter renders its first frame. -->
  <meta-data android:name="io.flutter.embedding.android.SplashScreenDrawable" android:resource="@drawable/launch_background" />
  <meta-data android:name="flutterEmbedding" android:value="2" />


</manifest>
